<div class='container'>
  <h4 class='center'>Site usage statistics</h4>

  <div class="row no-margin">
    <h5>Users</h5>
  </div>
  <div class='row z-depth-1'>
    <div class="col s12">
      <canvas id='usersChart'></canvas>
    </div>
  </div>

  <div class="row no-margin">
    <h5>Products</h5>
  </div>
  <div class='row z-depth-1'>
    <div class="col s12">
      <canvas id='productsChart'></canvas>
    </div>
  </div>

  <div class="row no-margin">
    <h5>Sales</h5>
  </div>
  <div class='row z-depth-1'>
    <div class="col s12">
      <canvas id='salesChart'></canvas>
    </div>
  </div>
</div>
