<div class="container">
  <div class="row search">
    <app-search class="col m6 offset-m3 s8 offset-s2" [query]="search" (onSearch)="handleSearch($event)"></app-search>
  </div>
  <div class="row">
    <div class="col">
      <app-list-product *ngFor="let product of products" [product]="product"></app-list-product>
    </div>
    <div class="col center" *ngIf="products?.length == 0">
      No products bought so far. Maybe <a [routerLink]="['/','products', 'all']">find</a> something you need?
    </div>
  </div>
  <div class="row">
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [search]="search"></app-pagination>
  </div>
</div>
